/*--------COLORS-------------*/

$primaire-color: #9356DC;
$secondaire-color: #FF79DA;
$tertiaire-color: #99E2D0;

$primaire-color-clair: #F5EDFF;

$brand-black: #353535;
$brand-gris-fonce: #7E7E7E;
$brand-gris: #EAEAEA;
$brand-gris-clair: #F6F6F6;


/*--------TYPOGRAPHY-----------*/

$police-titre: 'Shrikhand', cursive;
$police-body: 'Roboto', sans-serif;


/*--------ANIMATION-----------------*/

$basic-transition: ease-in-out 350ms;


/*---------MIXIN-----------------------*/

@mixin box-shadow {
    box-shadow: 0 5px 8px rgba($brand-black,0.1);
}
@mixin dark-box-shadow {
    box-shadow: 0 5px 10px rgba($brand-black,0.3);
}

@mixin background-clip($clip-type) {
    -moz-background-clip: $clip-type;
    -webkit-background-clip: $clip-type;
    background-clip: $clip-type;
}