/*--------COLORS-------------*/

$primaire-color: #9356DC;
$secondaire-color: #FF79DA;
$tertiaire-color: #99E2D0;

$brand-black: #353535;
$brand-gris: #EAEAEA;
$brand-gris-clair: #F6F6F6;


/*--------TYPOGRAPHY-----------*/

$police-titre: 'Shrikhand', cursive;
$police-body: 'Roboto', sans-serif;