/*--------COLORS-------------*/
/*--------TYPOGRAPHY-----------*/
/*--------ANIMATION-----------------*/
/*---------MIXIN-----------------------*/
.heart-button {
  position: absolute;
  z-index: 10;
  width: 75px;
  height: 75px;
  bottom: 0;
  right: 0;
  background-color: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.heart-button__icon {
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
  -webkit-transition: ease-in-out 350ms;
  transition: ease-in-out 350ms;
}

.heart-button__icon--on-hover {
  position: absolute;
  font-size: 22px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  color: transparent;
  /* -webkit-background-clip: text; */
  background-clip: text;
  opacity: 0;
  -webkit-transition: ease-in-out 350ms;
  transition: ease-in-out 350ms;
}

.heart-button:hover .heart-button__icon {
  opacity: 0;
}

.heart-button:hover .heart-button__icon--on-hover {
  opacity: 1;
}

.heart {
  position: absolute;
  z-index: 10;
  width: 75px;
  height: 75px;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.heart__button {
  width: 25px;
  height: 25px;
  position: relative;
  z-index: 11;
  border: none;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.heart__button:hover .heart__icon {
  opacity: 0;
}

.heart__button:hover .heart__icon--on-hover {
  opacity: 1;
}

.heart__icon {
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
  -webkit-transition: ease-in-out 350ms;
  transition: ease-in-out 350ms;
}

.heart__icon--on-hover {
  position: absolute;
  font-size: 22px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  color: transparent;
  /* -webkit-background-clip: text; */
  background-clip: text;
  opacity: 0;
  -webkit-transition: ease-in-out 350ms;
  transition: ease-in-out 350ms;
}

.hero__button {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  border: 0;
  color: white;
  min-width: 185px;
  height: 50px;
  padding: 0 25px;
  border-radius: 25px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 5px 8px rgba(53, 53, 53, 0.1);
          box-shadow: 0 5px 8px rgba(53, 53, 53, 0.1);
  margin-top: 15px;
  cursor: pointer;
  -webkit-transition: ease-in-out 350ms;
  transition: ease-in-out 350ms;
}

.hero__button:hover {
  -webkit-box-shadow: 0 5px 10px rgba(53, 53, 53, 0.3);
          box-shadow: 0 5px 10px rgba(53, 53, 53, 0.3);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 121, 218, 0.6)), to(rgba(147, 86, 220, 0.6)));
  background: linear-gradient(rgba(255, 121, 218, 0.6), rgba(147, 86, 220, 0.6));
  color: #9356DC;
}
/*# sourceMappingURL=general-styles.css.map */