/*--------COLORS-------------*/
/*--------TYPOGRAPHY-----------*/
/*--------ANIMATION-----------------*/
/*---------MIXIN-----------------------*/
@keyframes page-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes menu-item-animation {
  0% {
    transform: translate3d(0, 20px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.back-btn {
  position: absolute;
  width: 65px;
  height: 65px;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.back-btn i {
  font-size: 1.3rem;
  color: #353535;
}

.hero {
  width: 100%;
  position: relative;
}

.hero__image {
  width: 100%;
  height: 310px;
}

.hero__image img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  object-position: center;
}

.hero .restaurant__heading {
  width: 100%;
  height: 90px;
  position: absolute;
  background-color: #F6F6F6;
  bottom: 0;
  border-radius: 30px 30px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.hero .restaurant__heading .heart {
  width: 30px;
  height: 90px;
  justify-content: flex-end;
  position: relative;
  order: 1;
}

.hero .restaurant__heading h1 {
  font-family: "Shrikhand", cursive;
  font-size: 1.7rem;
  color: black;
}

.restaurant-menu {
  background-color: #F6F6F6;
  padding: 0 20px 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurant-menu .hero__button {
  margin-top: 30px;
}

.restaurant-menu__category {
  text-transform: uppercase;
  font-size: 1rem;
  position: relative;
  display: flex;
  align-self: flex-start;
  margin-bottom: 20px;
}

.restaurant-menu__category:after {
  content: "";
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.restaurant-menu__category--top-space {
  padding-top: 20px;
}

.restaurant-menu__list {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.restaurant-menu__list-item {
  width: 100%;
  height: 70px;
  background-color: white;
  border-radius: 15px;
  padding: 0 20px 0 10px;
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 15px;
  box-shadow: 0 5px 8px rgba(53, 53, 53, 0.1);
}

.restaurant-menu__list-item:hover .restaurant-menu__content {
  width: calc(100% - 60px);
}

.restaurant-menu__list-item:hover .restaurant-menu__checkmark {
  transform: translate3d(0, 0, 0);
}

.restaurant-menu__list-item:hover .restaurant-menu__checkmark i {
  transform: rotate(0deg);
}

.restaurant-menu__list-item:nth-child(1) {
  animation-duration: 300ms;
  animation-name: menu-item-animation;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 200ms;
}

.restaurant-menu__list-item:nth-child(2) {
  animation-duration: 300ms;
  animation-name: menu-item-animation;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 400ms;
}

.restaurant-menu__list-item:nth-child(3) {
  animation-duration: 300ms;
  animation-name: menu-item-animation;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 600ms;
}

.restaurant-menu__list-item:nth-child(4) {
  animation-duration: 300ms;
  animation-name: menu-item-animation;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 800ms;
}

.restaurant-menu__list-item:nth-child(5) {
  animation-duration: 300ms;
  animation-name: menu-item-animation;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 1000ms;
}

.restaurant-menu__list-item:nth-child(6) {
  animation-duration: 300ms;
  animation-name: menu-item-animation;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 1200ms;
}

.restaurant-menu__list-item:nth-child(7) {
  animation-duration: 300ms;
  animation-name: menu-item-animation;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 1400ms;
}

.restaurant-menu__list-item:nth-child(8) {
  animation-duration: 300ms;
  animation-name: menu-item-animation;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 1600ms;
}

.restaurant-menu__list-item:nth-child(9) {
  animation-duration: 300ms;
  animation-name: menu-item-animation;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 1800ms;
}

.restaurant-menu__list-item:nth-child(10) {
  animation-duration: 300ms;
  animation-name: menu-item-animation;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 2000ms;
}

.restaurant-menu__list-item:nth-child(11) {
  animation-duration: 300ms;
  animation-name: menu-item-animation;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 2200ms;
}

.restaurant-menu__list-item:nth-child(12) {
  animation-duration: 300ms;
  animation-name: menu-item-animation;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 2400ms;
}

.restaurant-menu__list-item:nth-child(13) {
  animation-duration: 300ms;
  animation-name: menu-item-animation;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 2600ms;
}

.restaurant-menu__list-item:nth-child(14) {
  animation-duration: 300ms;
  animation-name: menu-item-animation;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 2800ms;
}

.restaurant-menu__list-item:nth-child(15) {
  animation-duration: 300ms;
  animation-name: menu-item-animation;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 3000ms;
}

.restaurant-menu__list-item:nth-child(16) {
  animation-duration: 300ms;
  animation-name: menu-item-animation;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 3200ms;
}

.restaurant-menu__list-item:nth-child(17) {
  animation-duration: 300ms;
  animation-name: menu-item-animation;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 3400ms;
}

.restaurant-menu__list-item:nth-child(18) {
  animation-duration: 300ms;
  animation-name: menu-item-animation;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 3600ms;
}

.restaurant-menu__list-item:nth-child(19) {
  animation-duration: 300ms;
  animation-name: menu-item-animation;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 3800ms;
}

.restaurant-menu__list-item:nth-child(20) {
  animation-duration: 300ms;
  animation-name: menu-item-animation;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 4000ms;
}

.restaurant-menu__title {
  width: 100%;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

.restaurant-menu__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  transition: ease-in-out 350ms;
}

.restaurant-menu__description {
  width: 80%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.restaurant-menu__price {
  width: 20%;
  font-weight: 500;
  display: flex;
  justify-content: flex-end;
}

.restaurant-menu__checkmark {
  position: absolute;
  width: 60px;
  height: 70px;
  background-color: #99E2D0;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate3d(100%, 0, 0);
  transition: ease-in-out 350ms;
}

.restaurant-menu__checkmark i {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding-top: 0px;
  justify-content: center;
  color: #99E2D0;
  font-size: 0.8rem;
  transform: rotate(-360deg);
  transition: ease-in-out 350ms;
}

@media screen and (min-width: 768px) {
  .hero {
    display: flex;
    justify-content: center;
  }
  .hero__image {
    height: 500px;
  }
  .hero__image img {
    height: 100%;
  }
  .hero .restaurant__heading {
    width: 80%;
    padding: 0 50px;
  }
  .restaurant-menu {
    width: 80%;
    margin: 0 auto;
    border-radius: 0 0 30px 30px;
    margin-bottom: 30px;
  }
  .restaurant-menu__list {
    width: 100%;
    padding: 0 50px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .hero .restaurant__heading {
    width: 100%;
    max-width: 1440px;
  }
  .restaurant-menu {
    width: 100%;
    max-width: 1440px;
  }
  .restaurant-menu__list {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .restaurant-menu__list-item {
    width: 30%;
  }
  .restaurant-menu__category {
    width: 100%;
    margin-bottom: 30px;
    padding-top: 40px;
  }
  .restaurant-menu__category:after {
    width: 100%;
    height: 2px;
  }
}
/*# sourceMappingURL=general-pages.css.map */