@import 'variables';


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

%typography {
    font-family: $police-body;
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: 300;
}

h1, h3 {
    @extend %typography;
    font-size: 1.5rem;
    line-height: 1.7rem;
    font-weight: 500;
}
h2 {
    @extend %typography;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.5rem;
}

p, a {
    @extend %typography;
}
a:hover {
    cursor: pointer;
    text-decoration: underline;
}


.restaurants-cards__text {
    font-size: 1.1rem;
    line-height: 1.5rem;
    strong {
        font-weight: 600;
    }
}
/*--HEADER----------------------------*/

header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 22px 0 12px 0;
    background-color: white;
    @include box-shadow;
}

.logo-container {
    max-width: 170px;
    display: flex;
    align-items: center;
    img {
        width: 100%;
    }
    &--small {
        max-width: 100px;
        img {
            width: 100%;
        }
    }
}



/*--HERO----------------------------*/

.hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    &__form {
        width: 100%;
        // height: 50px;
        background-color: $brand-gris;
        mix-blend-mode: multiply;
        display: flex;
        justify-content: center;
        align-items: baseline;
        i {
            color: $brand-black;
            height: 100%;
            font-size: 1.1rem;
        }
        input {
            background-color: transparent;
            height: 50px;
            border: 0;
            padding: 0 20px;
            font-size: 1rem;
            font-weight: 600;
            color: $brand-black;
            &::placeholder {
                display: flex;
                align-items: center;
                font-size: 1rem;
                font-weight: 600;
                color: $brand-black;
                opacity: 1;
            }
        }
    }
    &__intro {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 45px;
        background-color: $brand-gris-clair;
        h1, h2 {
            padding-bottom: 15px;
            text-align: center;
        }
    }
    &__button {
        background: linear-gradient($secondaire-color, $primaire-color);
        font-family: $police-body;
        font-weight: 500;
        font-size: 1rem;
        border: 0;
        color: white;
        height: 50px;
        padding: 0 25px;
        border-radius: 25px;
        @include box-shadow
        margin-top: 15px;
     }
}


/*--FONCTIONNEMENT----------------------------*/

.fonction {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50px 20px;
    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        &-item {
            width: calc(100% - 12px);
            display: flex;
            position: relative;
            background-color: $brand-gris-clair;
            height: 75px;
            border-radius: 20px;
            align-items: center;
            justify-content: flex-start;
            padding: 0 35px;
            margin-top: 20px;
            @include box-shadow
            transition: $basic-transition;
            &:hover {
                background-color: $primaire-color-clair;
                i {
                    color: $primaire-color;
                }
            }
        }
    }
    &__number {
        position: absolute;
        top: 50%;
        left: 0;
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: $primaire-color;
        border-radius: 12px;
        transform: translate(-50%, -50%);
        font-size: 0.9rem;
    }
    i {
        color: $brand-gris-fonce;
        font-size: 19px;
        transition: $basic-transition;
    }
    &__titre {
        margin-left: 20px;
        font-weight: 500;
    }
}



/*--RESTAURANTS----------------------------*/

.restaurants-cards {
    background-color: $brand-gris-clair;
    padding: 50px 20px;
    &__list {
        width: 100%;
        display: flex;
        flex-direction: column;
        list-style: none;
        &-item {
            width: 100%;
            // height: 250px;
            position: relative;
            border-radius: 15px;
            display: flex;
            overflow: hidden;
            box-shadow: 0 5px 10px rgba(0,0,0,0.1);
            margin-top: 20px;
        }
    }
    &__content {
        width: 100%;
        height: 100%;
        position: relative;
        // background-color: white;
        img {
            display: block;
            width: 100%;
            height: 175px;
            object-fit: cover;
            object-position: center;
        }
    }
    &__info {
        background-color: white;
        height: 75px;
        display: flex;
        flex-direction: column;
        padding: 0 15px;
        justify-content: center;
    }
}

.heart-button {
    position: absolute;
    z-index: 10;
    width: 75px;
    height: 75px;
    bottom: 0;
    right: 0;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &__icon {
        font-size: 22px;
        // background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1;
        transition: $basic-transition;
        &--on-hover {
            position: absolute;
            font-size: 22px;
            background: linear-gradient($secondaire-color, $primaire-color);
            color: transparent;
            @include background-clip(text);
            opacity: 0;
            transition: $basic-transition;
        }
    }
    &:hover {
        .heart-button__icon {
            opacity: 0;
        }
        .heart-button__icon--on-hover {
            opacity: 1;
        }
    }
}



footer {
    background-color: $brand-black;
    padding: 30px 20px;
}

.footer-nav {
    display: flex;
    flex-wrap: wrap;
    &__list-item {
        width: 100%;
        color: white;
        padding: 5px 0;
        display: flex;
        align-items: center;
        i {
            font-size: 0.9rem;
            margin-right: 10px;
        }
    }
}