@import 'variables';


/*----LOADER-------------------------*/

@keyframes loader-animation {
    0% {
        opacity: 1;
        z-index: 20;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}
@keyframes loader-ring {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.loader {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: $brand-black;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: loader-animation 300ms ease-in-out 1.5s 1 both;
    &__ring {
        border: 5px solid $primaire-color-clair;
        border-top: 5px solid $primaire-color;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: loader-ring 2s linear infinite;
    }
}

/*--HERO----------------------------*/

.hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    &__form {
        width: 100%;
        background-color: $brand-gris;
        mix-blend-mode: multiply;
        display: flex;
        justify-content: center;
        align-items: baseline;
        i {
            color: $brand-black;
            height: 100%;
            font-size: 1.1rem;
        }
        input {
            background-color: transparent;
            width: 160px;
            height: 50px;
            border: 0;
            padding: 0 20px;
            font-size: 1rem;
            font-weight: 600;
            color: $brand-black;
            &::placeholder {
                display: flex;
                align-items: center;
                font-size: 1rem;
                font-weight: 600;
                color: $brand-black;
                opacity: 1;
            }
        }
    }
    &__intro {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 45px;
        background-color: $brand-gris-clair;
        h1, h2 {
            width: 100%;
            padding-bottom: 15px;
            text-align: center;
        }
    }
}


/*--FONCTIONNEMENT----------------------------*/

.fonction {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50px 20px;
    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        &-item {
            width: calc(100% - 12px);
            display: flex;
            position: relative;
            background-color: $brand-gris-clair;
            height: 75px;
            border-radius: 20px;
            align-items: center;
            justify-content: flex-start;
            padding: 0 35px;
            margin-top: 20px;
            @include box-shadow;
            transition: $basic-transition;
            cursor: pointer;
            &:hover {
                background-color: $primaire-color-clair;
                i {
                    color: $primaire-color;
                }
            }
        }
    }
    &__number {
        position: absolute;
        top: 50%;
        left: 0;
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: $primaire-color;
        border-radius: 12px;
        transform: translate(-50%, -50%);
        font-size: 0.9rem;
    }
    i {
        color: $brand-gris-fonce;
        font-size: 19px;
        transition: $basic-transition;
    }
    &__titre {
        margin-left: 20px;
        font-weight: 500;
    }
}



/*--RESTAURANTS----------------------------*/

.restaurants-cards {
    background-color: $brand-gris-clair;
    padding: 50px 20px;
    &__list {
        width: 100%;
        display: flex;
        flex-direction: column;
        list-style: none;
        &-item {
            width: 100%;
            position: relative;
            border-radius: 15px;
            display: flex;
            overflow: hidden;
            box-shadow: 0 5px 10px rgba(0,0,0,0.1);
            margin-top: 20px;
            cursor: pointer;
            transition: $basic-transition;
            &:hover {
                box-shadow: 0 5px 10px rgba(0,0,0,0.5);
            }
        }
    }
    &__content {
        width: 100%;
        height: 100%;
        position: relative;
        text-decoration: none;
        color: $brand-black;
        img {
            display: block;
            width: 100%;
            height: 175px;
            object-fit: cover;
            object-position: center;
        }
    }
    &__info {
        background-color: white;
        height: 75px;
        display: flex;
        flex-direction: column;
        padding: 0 15px;
        justify-content: center;
    }
}








@media screen and (min-width:768px) {

    .fonction {
        width: 50%;
        padding: 50px;
        margin: 0 auto;
    }

    .restaurants-cards {
        width: 50%;
        padding: 50px;
        margin: 0 auto;
        border-radius: 20px;
        margin-bottom: 50px;
        &__list {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            &-item {
                width: 48%;
            }
        }
    }

}